{%- raw -%}
# this is a Jinja2 template file used during the Ansible deployment
# environment specific configuration can be found in our Ansble scripts
---
name: {{ compose_stack_name }}

services:

  {{ caddy_svc | indent(width=2, first=True ) }}

  {% set service = (stack.services | selectattr('name', 'eq', 'app') | first) %}

  app:
    image: ghcr.io/{{ template.git.package.image_name }}:{{ template.git.package.tag }}
    restart: unless-stopped
    {% if service.environment is defined %}

    environment:
{% for env in service.environment %}
      - {{ env.key }}={{ env.value }}
{% endfor %}
    {% endif %}
{%- endraw %}
    command: >
        sh -c "uv run python3 manage.py migrate --database=default --verbosity=1 &&
               uv run python3 manage.py migrate {{ cookiecutter.initial_app_name }} --database={{ cookiecutter.initial_app_name }}_db --verbosity=1 &&
               uv run daphne --verbosity=1 -b 0.0.0.0 -p 8000 core.asgi:application"
{%- raw %}
    {% if service.volumes is defined and (service.volumes is iterable and service.volumes | length > 0) %}

    volumes:
{% for vol in service.volumes %}
    - {{ vol.host_path if vol.host_path is defined else vol.name }}:{{ vol.container_path }}
{% endfor %}
    {% endif %}
{%- endraw %}
{%- if cookiecutter.database == 'postgres' %}
{%- raw %}

    depends_on:
      db:
        condition: service_healthy

  {% set service = (stack.services | selectattr('name', 'eq', 'db') | first) %}

  db:
    image: {{ service.image if service.image is defined else "postgres:latest" }}
    restart: unless-stopped
    {% if service.environment is defined %}

    environment:
{% for env in service.environment %}
      - {{ env.key }}={{ env.value }}
{% endfor %}
    {% endif %}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ template.env.db_user }}"]
      interval: 5s
      timeout: 5s
      retries: 5
    {% if service.volumes is defined and (service.volumes is iterable and service.volumes | length > 0) %}

    volumes:
{% for vol in service.volumes %}
    - {{ vol.host_path if vol.host_path is defined else vol.name }}:{{ vol.container_path }}
{% endfor %}
    {% endif %}
{%- endraw %}
{%- endif %}
{%- raw %}
volumes:
  {{ caddy_vols | indent(width=2, first=True ) }}
  {{ stack | get_all_named_volumes(project_name) | indent(width=2) }}
{%- endraw %}
