DEBUG=True

# Django
DJANGO_SECRET_KEY=PLACEHOLDER
DJANGO_ALLOWED_HOSTS='localhost,"",127.0.0.1,0.0.0.0'
DJANGO_CSRF_TRUSTED_ORIGINS='http://localhost'

# Database
DB_NAME={{ cookiecutter.project_slug }}
DB_USER=jheppler
DB_PASSWORD=postgres
DB_HOST=localhost

{%- if cookiecutter.use_allauth %}
# django-allauth
ALLAUTH_GITHUB_CLIENT_ID=PLACEHOLDER
ALLAUTH_GITHUB_CLIENT_SECRET=PLACEHOLDER
{%- endif %}

# Object storage
{%- if cookiecutter.use_obj_storage %}
OBJ_STORAGE_SECRET_ACCESS_KEY=PLACEHOLDER
OBJ_STORAGE_ACCESS_KEY_ID=PLACEHOLDER
OBJ_STORAGE_BUCKET_NAME=PLACEHOLDER
OBJ_STORAGE_ENDPOINT_URL=https://dev.obj.rrchnm.org
OBJ_STORAGE=True
{%- else %}
#OBJ_STORAGE_SECRET_ACCESS_KEY=PLACEHOLDER
#OBJ_STORAGE_ACCESS_KEY_ID=PLACEHOLDER
#OBJ_STORAGE_BUCKET_NAME=PLACEHOLDER
#OBJ_STORAGE_ENDPOINT_URL=https://dev.obj.rrchnm.org
#OBJ_STORAGE=True
{%- endif %}
